<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px">
  <mat-card class="example-card" *ngFor="let donation of donations"
    fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="48%" fxFlex.lg="32%" fxFlex.xl="24%">
    <mat-card-title>{{ donation.name }}</mat-card-title>
    <mat-card-content>
      <p>
        {{ donation.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Detalles</button>
    </mat-card-actions>
  </mat-card>
