  <div class="section" id="landing">
    <header class="intro" id="intro">
      <div class="left" style="width: 50%; float:left">
       <!-- <h1>Voluntarias Vicentinas De Chihuahua</h1> -->
       <p id="titulo">Vicentinas De Chihuahua</p>
        <p id="titulo2">Albergue San Vicente De Paúl</p>
        <p> Brindamos albergue digno y educativo para niños <br> foráneos con capacidades diferentes que asisten a <br> rehabilitación a la ciudad
            de Chihuahua y a los familiares <br>que los acompañan.
        </p>
      </div>
      <div class="right" style="width: 50%; float:right">
          <img src="../../assets/pattern.svg" alt="Albergue San Vicente de Paul">
      </div>
      <br style="clear:both;"/>

    </header>
  </div>


