.services {
  background-color: #fff;
}

.services {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 11.5vw;
  padding-right: 11.5vw;
}

.services h1.header-center
{
  text-align: center;
}

.services h1 {
  font-family: "Rubik-Light", sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #121212;
  margin: 0;
}

.services h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 26px;
  line-height: 60px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #434345;
}


header.header-center:before,
.services h1.header-center:before{
  margin-left: auto;
  margin-right: auto;
}

header:before,
.services h1:before {
  width: 40px;
  height: 3px;
  background-color: #345cd7;
  content: "";
  display: block;
  margin-bottom: 20px;
}

.service {
  text-align: center;
}

.service h4 {
  color: #434345;
  margin: 1em 0;
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

/* .product .image-block{
  text-align: center;
} */

.service .image-block img{
  width: 50%;
}
