/* Structure */
.table-container {
  max-height: 500px;
  /* min-width: 300px; */
  position: relative;
  border-radius: 6px;
  background-color: white;
  margin: 1rem auto;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}

.table {
  overflow: auto;
  /* min-height: 300px; */
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.icon {
  cursor: pointer;
  transition: .4s all;
  font-size: 1.5rem;
}

.icon:hover {
  font-size: 1.6rem;
}

.edit:hover {
  color: #009688;
}

.delete:hover {
  color: #D35E57;
}
