<div class="table-container">
  <h1 class="section-title">Usuarios</h1>
  <app-loading-bar [isLoading]="isLoadingResults"></app-loading-bar>

  <mat-table #table [dataSource]="dataSource" class="table" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

    <!-- Number Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="isBlocked">
      <mat-header-cell *matHeaderCellDef>Bloqueado:</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.isBlocked ? 'Si' : 'No' }}</mat-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef>Codigo</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.code }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon class="icon edit" (click)="editUser(row)">edit</mat-icon>
        <mat-icon class="icon delete" (click)="deleteUser(row.id)">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
