index: {{ tabGroup.selectedIndex }}
<section class="section">
  <mat-tab-group color="primary" [selectedIndex]="selectedIndex" #tabGroup class="tab-group" id="projects">
    <mat-tab label="Proyectos">
      <app-project-card></app-project-card>
    </mat-tab>
    <mat-tab label="Donaciones">
      <app-donation-card></app-donation-card>
    </mat-tab>
    <mat-tab label="Eventos">
      <app-event-card (buttonClick)="handleChildButtonClick($event)"></app-event-card>
    </mat-tab>
  </mat-tab-group>
</section>
