<!-- <div class="main-container"> -->
  <div class="section" id="landing">
    <app-navbar></app-navbar>
    <header class="intro" id="intro">
      <h1>ALBERGUE SAN VICENTE</h1>
      <div class="graphic-container">
        <!-- <img src="../../assets/title.svg" alt="Albergue San Vicente de Paul"> -->
      </div>
      <div class="strapline-container">
        <p> 
          Brindamos albergue digno y educativo para niños foráneos con capacidades diferentes que asisten a
          rehabilitación a la ciudad de Chihuahua y a los familiares que los acompañan.
        </p>
        <img src="../../assets/down.svg" alt="arrow">
      </div>
    </header>
  </div>
<!-- </div> -->

<!-- <div class="pimg1">
  <div class="video-content">
    <div class="table">
      <div class="table-cell">
        <div class="half">
          <h2 class="" style="opacity: 1; transform: translateY(0px);">ALBERGUE SAN VICENTE DE PAUL</h2>
          <h4 class="" style="opacity: 1; transform: translateY(0px);">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ipsum perferendis aspernatur minima magni reiciendis error aliquid facere repellat quibusdam amet vel provident velit ex vero, natus distinctio deserunt explicabo?  
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="ptext">
    <span class="border">
      Parallax Website
    </span>
  </div>
</div>
 -->
