<div class="pimg1">
  <div class="video-content">
    <div class="table">
      <div class="table-cell">
        <div class="half">
          <h2 class="" style="opacity: 1; transform: translateY(0px);">ALBERGUE SAN VICENTE DE PAUL</h2>
          <h4 class="" style="opacity: 1; transform: translateY(0px);">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ipsum perferendis aspernatur minima magni reiciendis error aliquid facere repellat quibusdam amet vel provident velit ex vero, natus distinctio deserunt explicabo?  
          </h4>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="ptext">
    <span class="border">
      Parallax Website
    </span>
  </div> -->
</div>

