<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px">
  <mat-card *ngFor="let project of projects" class="example-card"
  fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="48%" fxFlex.lg="32%" fxFlex.xl="24%">
    <mat-card-title>{{ project.nombre }}</mat-card-title>
    <mat-card-subtitle>
      <span class="acent">Area: </span> {{ project.area }}
      <br>
      <span>
        <span class="acent">Fecha: </span>{{ formatDate(project.fechaPublicacion) }}
      </span>
      <br>
      <span>
        <span class="acent">Numero de personas: </span> {{ project.numPersonas }} personas
      </span>
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        {{ project.solucion }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Detalles</button>
    </mat-card-actions>
  </mat-card>
  <!-- <mat-card fxFlex="31" fxFlex.xs="80%">
		<mat-card-content>
			<h2>Card 1</h2>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="31" fxFlex.xs="80%">
		<mat-card-content>
			<h2>Card 2</h2>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="31" fxFlex.xs="80%">
		<mat-card-content>
			<h2>Card 3</h2>
		</mat-card-content>
	</mat-card>

  <mat-card fxFlex="31" fxFlex.xs="80%">
		<mat-card-content>
			<h2>Card 4</h2>
		</mat-card-content>
	</mat-card>

  <mat-card fxFlex="31" fxFlex.xs="80%">
		<mat-card-content>
			<h2>Card 5</h2>
		</mat-card-content>
	</mat-card> -->

</div>
