<div class="loading-bar">
  <mat-spinner [diameter]="50" *ngIf="loading"></mat-spinner>
</div>
<div class="cards-container">
  <app-card (cardClick)="handleClick($event)" [id]="event.id" *ngFor="let event of events" class="card">
    <div card-title>{{ event.name }}</div>
    <div card-details>
      <span class="acent">Costo: </span> {{ event.cost }}
      <br>
      <span>
        <span class="acent">Fecha: </span>{{ formatDate(event.date) }} a las {{event.hour}}
      </span>
      <br>
      <span>
        <span class="acent">Ubicación: </span> {{ event.location }}
      </span>
    </div>
    <div card-text>{{ event.description }}</div>
  </app-card>
</div>
