.navbar-wrapper{
  padding-top: 70px;
}

app-navbar-admin {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;
}

/**
  * Rules for when the device is detected to be a small screen.
  * Moves content two rows instead of one.
  */
@media (max-width: 720px) {
  .navbar-wrapper{
    padding-top: 100px;
  }
}
