<div class="loading-bar">
  <mat-spinner [diameter]="50" *ngIf="loading"></mat-spinner>
</div>
<div class="cards-container">
  <app-card (cardClick)="handleClick($event)" [id]="project.id" *ngFor="let project of projects" class="card">
    <div card-title>{{ project.name }}</div>
    <div card-details>
      <span class="acent">Area: </span> {{ project.area }}
      <br>
      <span>
        <span class="acent">Fecha: </span>{{ project.publicationDate | date: 'longDate': 'America/Chihuahua' : 'es' }}
      </span>
      <br>
      <span>
        <span class="acent">Numero de personas: </span> {{ project.numberOfPeople }} personas
      </span>
    </div>
    <div card-text>{{ project.solution }}</div>
  </app-card>
</div>
