<app-container>
  <mat-form-field>
    <input matInput placeholder="Nombre" required>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Descripción" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5" required></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Solución" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5" required></textarea>
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Número de personas">
  </mat-form-field>

  <mat-form-field>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let element of elements" [selectable]="selectable"
              [removable]="removable" (remove)="remove(element)">
        {{element.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Area"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)" />
    </mat-chip-list>
  </mat-form-field>
  <!-- <mat-form-field class="example-full-width">
    <input type="text" placeholder="Área" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> -->
  <button mat-raised-button color="primary">Guardar</button>
</app-container>