<section class="section">
  <app-container>
    <h1 class="container-title">{{project?.name}}</h1>
    <p>
      <span class="acent">Area: </span> {{project?.area}}</p>
    <p>
      <span class="acent">Fecha:</span>{{project?.publicationDate | date: 'longDate': 'America/Chihuahua' : 'es'}}</p>
    <p>
      <span class="acent">Cantidad de personas requeridas:</span>{{project?.numberOfPeople}}</p>
    <p>
      <span class="acent">Descripción: </span>{{project?.description}}</p>
  </app-container>
  <app-contact-card [subject]="project?.name"></app-contact-card>
</section>
