<section class="section" id="about">
  <h1 class="section-title">Nosotros</h1>
  <p class="section-info">
    Atendemos a familias foráneas con niños con discapacidad que asisten al CRIT a rehabilitación. Ofreciendo:
  </p>
  <div>
    <div class="flex-container">
      <!-- <div class="col-lg-4 col-md-4 col-xs-12"> -->
      <div class="service">
        <h4>Hospedaje</h4>
        <div class="image-block box">
          <img src="./assets/services/001-sleep.svg" alt="CircleLoop logo">
        </div>
      </div>
      <!-- </div> -->
      <!-- <div class="col-lg-4 col-md-4 col-xs-12"> -->
      <div class="service">
        <h4>Aliemento</h4>
        <div class="image-block box">
          <img src="./assets/services/005-diet.svg" alt="CloudTalk logo">
        </div>
      </div>
      <!-- </div> -->
      <!-- <div class="col-lg-4 col-md-4 col-xs-12"> -->
      <div class="service">
        <h4>Transporte</h4>
        <div class="image-block box">
          <img src="./assets/services/bus.svg" alt="SmartAgent logo">
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</section>
