<section class="main">
  <mat-tab-group class="demo-tab-group" layout="row" layout-align="center center">
    <mat-tab label="Proyectos">
      <div class="demo-tab-content">
        Listado de Proyectos
      </div>
    </mat-tab>
    <mat-tab label="Donaciones">
      <div class="demo-tab-content">
        Listado de Donaciones
      </div>
    </mat-tab>
    <mat-tab label="Eventos">
      <div class="demo-tab-content">
        Listado de Eventos
      </div>
    </mat-tab>
  </mat-tab-group>
</section>