.main {
  background-color: #fff;
  padding-bottom: 120px;
  /* padding-left: 11.5vw; */
  /* padding-right: 11.5vw; */
  font-family: "Rubik-Light",sans-serif;
  color: #121212;
}

.demo-tab-group {
  /* justify-content: center; */
  /* align-items: center; */
  background-color: bisque;
  width: 100%;
  /* border-top: solid 3px #345cd7; */
}

.demo-tab-group:before{
  width: 40px;
  height: 3px;
  background-color: #345cd7;
  content: "";
  display: block;
  margin-bottom: 20px;
}


.demo-tab-content {
  padding: 16px;
}

