.main {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 11.5vw;
  padding-right: 11.5vw;
  font-family: "Rubik-Light",sans-serif;
  color: #121212;
}

.demo-tab-group {
  border: 1px solid #e8e8e8;
  justify-content: center;
  align-items: center;
}

.demo-tab-content {
  padding: 16px;
}

