<!--The content below is only a placeholder and can be replaced.-->
<nav class="main" id="main">
  <!-- <a href="/">
    <img id="ml-logo" class="nav-logo" src="favicon.ico" alt="MissionLabs logo">
  </a> -->
  <ul class="menu-container">
    <li>
      <a href="#products">Products</a>
    </li>
    <li>
      <a href="#platform">Platform</a>
    </li>
    <li>
      <a href="#ability">Ability</a>
    </li>
    <li>
      <a href="#partners">Partners</a>
    </li>
    <li>
      <a href="#about">About</a>
    </li>
  </ul>
</nav>
<app-hero-section></app-hero-section>
<app-details-section></app-details-section>
<!-- <app-main-section></app-main-section>
<app-footer-section></app-footer-section> -->
