<app-container>
  <h1 class="container-title">Añadir Donación</h1>
  <app-loading-bar [isLoading]="isLoading"></app-loading-bar>
  <form [formGroup]="donationForm" (ngSubmit)="addDonation(donationForm.value)" autocomplete="off" novalidate>
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Nombre" required>
    </mat-form-field>
    <mat-form-field>
      <textarea formControlName="description" matInput placeholder="Descripción" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" required></textarea>
    </mat-form-field>
    <div class="actions">
      <button type="submit" class="button" [disabled]="donationForm.invalid || isLoading" mat-button color="primary">Guardar</button>
      <button type="button" class="button" (click)="cancel()" mat-button>Cancelar</button>
      <button type="button" class="button" (click)="deleteDonation()" *ngIf="id" matbutton color="warn">Eliminar</button>
    </div>
  </form>
</app-container>
