<app-container>
  <h1 class="section-title">Añadir Donación</h1>
  <form [formGroup]="donationForm" (ngSubmit)="addDonation(donationForm.value)" autocomplete="off" novalidate>
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Nombre" required>
    </mat-form-field>
    <mat-form-field>
      <textarea formControlName="description" matInput placeholder="Descripción" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" required></textarea>
    </mat-form-field>
    <div class="actions">
      <button class="button" [disabled]="donationForm.invalid" type="submit" mat-raised-button color="primary">Guardar</button>
      <button class="button" (click)="cancel()" mat-raised-button>Cancelar</button>
    </div>
  </form>
</app-container>
