<section class="section">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Panel de uso de lavadoras</span>
      <span class="example-spacer"></span>
      <button mat-button (click)="updateRecordTable()" class="hide-small">
        <mat-icon class="example-icon">refresh</mat-icon>
        Actualizar Registro
      </button>
      <button mat-button (click)="createUser()" class="hide-small">
        <mat-icon class="example-icon">add</mat-icon>
        Añadir Usuario
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="show-small">
      <button mat-button (click)="updateRecordTable()" class="show-small">
        <mat-icon class="example-icon">refresh</mat-icon>
        Actualizar Registro
      </button>
      <span class="example-spacer"></span>
      <button mat-button (click)="createUser()" class="show-small">
        <mat-icon class="example-icon">add</mat-icon>
        Añadir Usuario
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <app-user-table></app-user-table> -->
  <!-- <app-record-table></app-record-table> -->
  <app-use-chart></app-use-chart>
  <app-pie-chart></app-pie-chart>
  <!-- <app-chart [type]="charTypes.line"></app-chart> -->
</section>
