.example-icon {
  line-height: 22px;
}

.example-spacer {
  flex: 1 1 auto;
}

.show-small {
  display: none;
}

/**
  * Rules for when the device is detected to be a small screen.
  * Moves content two rows instead of one.
  */
@media (max-width: 720px) {
  .hide-small {
    display: none;
  }

  .show-small {
    display: flex;
  }
}
