.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.actions > * {
  margin: 0 0.5rem;
}

.flex-spacer {
  flex-grow: 1;
}
