<app-container>
  <h2>Contacto:</h2>
  <div class="flex-container">
    <p>
      <span>
        <img src="./assets/location.svg" alt="Call">
      </span> {{address}}
    </p>
    <a [href]="emailLink">
      <span>
        <img src="./assets/email.svg" alt="email">
      </span> {{email}}
    </a>
    <p>
      <span>
        <img src="./assets/call.svg" alt="Call">
      </span> {{phone}}
    </p>
  </div>
</app-container>

<!-- <h2>FECHA Y HORA</h2>
<h2>INFORMACION DE CONTACTO</h2>
<p>C. P. Martha Lorena Díaz G. (directora)
  <br> Cel. 045 (614) 215 28 12
  <br>E-mail: lorena3dg@yahoo.com
  <br>Albergue:
  <br> Teléfono: 01 (614) 420 15 56
  <br>E-mail: alberguechih.svp@gmail.com
  <br>
  <br>DOMICILIO DEL ALBERGUE:
  <br> Ave. Industrial 2 Nº 7814 Fracc. Industrial Robinson CP 31384
  <br> Chihuahua, Chih.</p> -->
