<div class="table-container">
  <h1 class="section-title">Registro</h1>
  <app-loading-bar [isLoading]="isLoadingResults"></app-loading-bar>

  <mat-table #table [dataSource]="dataSource" class="table" matSort>
    <!-- User Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row?.user?.name }}</mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row?.fecha | date: 'longDate': 'America/Chihuahua' : 'es'}}</mat-cell>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="hora">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Hora</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row?.hora | date: 'shortTime' }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
<!-- matSortActive="created" matSortDisableClear  matSortDirection="asc"-->
